@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --page-top-mobile: 64px;
    --page-top: 128px;
    --page-bottom-mobile: 64px;
    --page-bottom: 128px;
    --focus-colour: #ffb224;
    --selection-colour: #fff9a8;
  }

  ::selection {
    background-color: var(--selection-colour);
    color: #000;
  }

  :focus-visible {
    outline-color: var(--focus-colour);
  }

  ::-webkit-scrollbar {
    width: 0.375rem;
    height: 0.375rem;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 15px;
    width: auto;
    height: 1.25rem;
    background: #a3a3a3;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #d4d4d4;
  }

  html,
  body {
    min-width: 320px;
    overflow-y: scroll;
    scrollbar-gutter: stable;
  }

  @media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-thumb {
      background: #404040;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #525252;
    }

    html {
      color-scheme: dark;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    /* disable animations and transitions for users who prefer reduced motion. */
    *,
    *::before,
    *::after {
      animation: none !important;
      transition: none !important;
    }
  }

  .tooltip-content {
    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  }

  .tooltip-content[data-side='top'] {
    animation-name: slideUp;
  }

  .tooltip-content[data-side='bottom'] {
    animation-name: slideDown;
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes shine {
    0% {
      background-position: left;
    }
    50% {
      background-position: right;
    }
  }

  .shine-animation {
    animation: shine 2.5s linear 0s infinite normal forwards;
    background-size: 200%;
  }

  .animate-in {
    animation-delay: calc(var(--index) * 130ms);
  }

  .overflow-x-scroll.snap-x::-webkit-scrollbar {
    /* hide scrollbars with webkit scrollbar */
    display: none;
  }
}
